-
	var dataList =
	[
		{
			img: "/assets/i/1-icon.png",
			title: "Автотранспорт" 
		},
		{
			img: "/assets/i/2-icon.png",
			title: "Будівництво, архітектура, землекористування" 
		},
		{
			img: "/assets/i/3-icon.png",
			title: "Громадянство"
		},
		{
			img: "/assets/i/4-icon.png",
			title: "Захист прав дитини"
		},
		{
			img: "/assets/i/5-icon.png",
			title: "Реєстрація місця проживання/перебування"
		},
		{
			img: "/assets/i/6-icon.png",
			title: "Підприємницька діяльність"
		},
		{
			img: "/assets/i/7-icon.png",
			title: "Санітарне та епідемічне благополуччя, ветеринарна медицина"
		},
		{
			img: "/assets/i/8-icon.png",
			title: "Комунальне господарство"
		}
	]

mixin header()
	.topper
		.header
			.iconHeader
			.title
				p Центр надання адміністративних послуг
	.blocktitle
		p Виберіть категорію

mixin main()
	.wrapper
		each item in dataList
			.block
				img(src= item.img)
				p #{item.title}